.modal_oculta {
  z-index: -1;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  transition: opacity 0.3s linear;
}
.modal_activa {
  z-index: 1;
  opacity: 1;
}

.modal {
  height: 87%;
  opacity: 0;
  z-index: 5;
  border-radius: 10px;
  transition: visibility 0.3s linear, transform 0.3s linear;
  transform: translateY(-50px);
}

.modal_open {
  opacity: 1;
  transform: translateY(0px);
  transition: visibility 0.3s linear, transform 0.3s linear;
}
